
.vs/Yapped/DesignTimeBuild/.dtbcache
.vs/Yapped/v16/.suo
.vs/Yapped/v16/Server/sqlite3/db.lock
.vs/Yapped/v16/Server/sqlite3/storage.ide
.vs/Yapped/v16/Server/sqlite3/storage.ide-shm
.vs/Yapped/v16/Server/sqlite3/storage.ide-wal
